{% load static %}

<div class="admin_interface_inline__">
    <div class="admin_interface_container">
        <div class="admin_interface_title">
            admin interface
        </div>
        <div class="admin_interface_func">
            <img class="admin_interface_func_img" src="{% static 'img/container.png' %}">
            <button class="admin_interface_func_btn" type="button">
                move container
            </button>
        </div>
        <div class="admin_interface_func">
            <img class="admin_interface_func_img" src="{% static 'img/open_box.png' %}">
            <button class="admin_interface_func_btn" type="button">
                <a href="{% url 'create_container' %}">create container</a>
            </button>
        </div>
    </div>
</div>