{% load static %}

<div class="content_container">
    <div class="content_element_1">
        <div class="content_element_title">
            world map
        </div>
        <div class="content_element_img">
            <img src="{% static 'img/new_world_map.png' %}" class="content_element_world-map">
        </div>
        <div class="content_element_task-state">
            부산항에서 싱가포르항으로 컨테이너를 옮기는 작업을 실행중입니다...
        </div>
    </div>

    <div class="content_element_2">
        <div class="content_element_title">
            task queue
        </div>
        <div class="task_queue">
            <div class="task">
                <div class="task_user_info">
                    <div>
                        <img src="{% static 'img/avatar.svg' %}" class="task_user_img">
                    </div>
                    <div class="task_user_name">
                        부산항 관리자
                    </div>
                </div>
                <div class="task_user_request">
                    <div class="task_request_context">요청 내용 : 부산항 &rarr; 싱가포르항</div>
                    <div class="task_request_date">요청 일시 : 2022년 11월 24일 09:46</div>
                </div>
                <div class="task_cancle_task">
                    <button class="task_cancle_btn" type="button">실행중</button>
                </div>
            </div>
        </div>
    </div>
</div>