{% extends 'app/home.html' %}
{% load static %}

{% block sub_head %}
    <link rel="stylesheet" href="{% static 'css/container_delete.css' %}" type="text/css">
{% endblock sub_head %}

{% block sub_content %}
    {% load static %}
    <div class="container_delete_container">
        <form method="POST" action="" class="container_delete_form">
            {% csrf_token %}
            <div class="container_delete_form_0">
                software logistics
            </div>
            <div class="container_delete_form_1">
                Delete container?
            </div>
            <div class="container_delete_form_2">
                <input class="container_delete_form_2_btn" type="submit" value="confirm"/>
            </div>
            <div class="container_delete_form_3">
                <a href="{% url 'home' %}">close</a>
            </div>
        </form>
    </div>
{% endblock sub_content %}
