{% extends 'main.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/container_form.css' %}" type="text/css">
{% endblock head %}

{% block content %}
    {% load static %}
    <div class="container">
        <form method="POST" action="" class="container_form">
            {% csrf_token %}
            <div class="container_form_title">software logistics</div>
            <div class="container_form_cmd"> {{ form.port }}에 {{ form.goods }}을(를) {{ form.goods_cnt }}개 담은 컨테이너 1개를 생성합니다.</div>
            <input type="submit" value="submit" class="submit"/>
            <a href="{% url 'home' %}" class="container_form_quit">Quit</a>
        </form>
    </div>

{% endblock content %}
