{% block header %}
    {% load static %}
    <div class="header">
        <div class="header_logo">software logistics</div>
        <div class="header_user">
            {% if request.user.is_authenticated %}
                <img class="header_user_avatar" src="{% static 'img/avatar.svg' %}" alt="header_user_avatar">
                <div class="header_user_info">OOO 관리자님, 반갑습니다.</div>
            {% else %}
                <div class="header_login">Login</div>
            {% endif %}
        </div>
    </div>
{% endblock header %}