{% extends 'main.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/content.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/manage_container.css' %}" type="text/css">
    {% block sub_head %}
    {% endblock sub_head %}
{% endblock head %}

{% block content %}
    {% load static %}
    {% if request.user.is_active %}
        {% include 'app/content.html' %}
        {% include 'app/manage_container.html' %}
        {% block sub_content %}
        {% endblock sub_content %}
    {% endif %}
{% endblock content %}

