{% load static %}

<div class="super_container">
    <div class="container_list__">
        {% for container in containers %}
            {% if container.port == user_info or request.user.username == "admin" %}
                <div class="container_list_element">
                    <div class="container_list_element_1">
                        <div class="container_list_element_1-1">
                            <img src="{{ container.goods.goods_img }}" alt="제품 사진" class="container_list_element_img">
                            <div class="container_list_element_1-1-1">컨테이너 UUID : {{ container.id }}</div>
                        </div>
                        <div class="container_list_element_1-2">
                            <div class="container_list_element_1-2-1">품명 : {{ container.goods.goods }}</div>
                            <div class="container_list_element_1-2-2">수량 : {{ container.goods_cnt }}</div>
                            <div class="container_list_element_1-2-3">항구 : {{ container.port }}</div>
                        </div>
                    </div>
                    <div class="container_list_element_2">
                        <div class="dropdown">
                            <a onclick="func_dropdown({{ forloop.counter0 }})" class="drop_btn">
                                <img src="{% static 'img/circle.png' %}" alt="circle" class="drop_btn_img">
                            </a>
                        </div>
                        <div class="dropdown_content not_show" id="content_{{ forloop.counter0 }}">
                            <div class="dropdown_content_1">
                                <a href="{% url 'update_container' container.id %}" class="list">update</a>
                            </div>
                            <div class="dropdown_content_2">
                                <a href="{% url 'delete_container' container.id %}" class="list">delete</a>
                            </div>
                            <div class="dropdown_content_3">
                                <a href="{% url 'read_container' container.id %}" class="list">detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
