{% load static %}

<div class="super_container">
    <div class="container_list">
        {% for container in containers %}
            <div class="container_list_element">
                <div class="container_list_element_1">
                    <div class="container_list_element_1-1">
                        <img src="{% static 'img/shoes.png' %}" alt="제품 사진" class="container_list_element_img">
                    </div>
                    <div class="container_list_element_1-2">
                        <div class="container_list_element_1-2-1">ID : {{ container.id }}</div>
                        <div class="container_list_element_1-2-1">제품명 : {{ container.goods }}</div>
                        <div class="container_list_element_1-2-1">수량 : {{ container.goods_cnt }}</div>
                        <div class="container_list_element_1-2-1">항구 : {{ container.port }}</div>
                    </div>
                </div>
                <div class="container_list_element_2">
                    <div class="container_list_element_2-1">
                        <div class="container_list_element_2-1-1">수정일</div>
                        <div class="container_list_element_2-1-3">{{ container.updated|date:"h시 i분" }}</div>
                        <div class="container_list_element_2-1-2">{{ container.updated|date:"Y년 m월 d일" }}</div>
                    </div>
                    <div class="container_list_element_2-1">
                        <div class="container_list_element_2-1-1">생성일</div>
                        <div class="container_list_element_2-1-3">{{ container.created|date:"h시 i분" }}</div>
                        <div class="container_list_element_2-1-2">{{ container.created|date:"Y년 m월 d일" }}</div>
                    </div>
                </div>
                <div class="container_list_element_3">...</div>
            </div>
        {% endfor %}
    </div>
</div>
