.content_container {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.content_element_1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
}

.content_element_img {
    width: 100%;
    text-align: center;
    flex: 1;
}

.content_element_world-map {
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.content_element_task-state {
    font-size: 8px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* 사이드 섹션에 공통적으로 존재하는 요소 */
.content_element_2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.content_element_title {
    font-size: 7px;
    font-weight: 300;
    margin-top: 4px;
}



/* 오른쪽 사이드 섹션 */
.task_queue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    align-items: center;
    justify-items: center;
}

.task_user_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8px;
}

.task_user_img {
    width: 25px;
}

.task_user_request {
    flex: 4;
}

.task_user_name {
    font-size: 5px;
}

.task_request_date,
.task_request_context {
    font-size: 7px;
}

.task_cancle_task {
    display: flex;
    align-items: center;
}

.task_cancle_btn {
    border: none;
    font-size: 7px;
    margin: auto 0px;
}

