/* 메인 콘텐츠 */

.main {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-bottom: 10px;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
}

.content_img {
    width: 100%;
    text-align: center;
    flex: 1;
}

.world_map {
    width: 80%;
    object-fit: cover;
    object-position: center;
}

.task_state {
    font-size: 8px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* 사이드 섹션에 공통적으로 존재하는 요소 */
.pannel {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.pannel_name {
    font-size: 7px;
    font-weight: 300;
    margin-top: 4px;
}

/* 왼쪽 사이드 섹션 */
.admin_pannel {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 10px 6px;
    column-gap: 10px;
}


.func {
    font-size: 12px;
    border-radius: 9px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.func_img {
    width: 70px;
}

.func_btn {
    font-size: 8px;
    border: none;
    background-color: rgb(0, 0, 0);
    padding: 4px 6px;
    border-radius: 3px;
    color: white;
    width: 70px;
}

/* 오른쪽 사이드 섹션 */
.task_queue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    align-items: center;
    justify-items: center;
}

.task_user_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8px;
}

.task_user_img {
    width: 25px;
}

.task_user_request {
    flex: 4;
}

.task_user_name {
    font-size: 5px;
}

.task_request_date,
.task_request_context {
    font-size: 7px;
}

.task_cancle_task {
    display: flex;
    align-items: center;
}

.task_cancle_btn {
    border: none;
    font-size: 7px;
    margin: auto 0px;
}