.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 2px 3px;
    z-index: 1;
    top: 20px;
    left: 13px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 6px;
}

.dropdown_content:hover .dropdown_div:hover {
    background-color: #8d8d8d;
    cursor: pointer;
}

.drop_btn {
    border: none;
    cursor: pointer;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: right;
    font-size: 14px;
    letter-spacing: -3px;
    padding: 0 3px 0 0;
}

.drop_btn_img:hover, .drop_btn_img:focus {
    background-color: #f0f2f5;
}

.dropdown_content_1,
.dropdown_content_2,
.dropdown_content_3 {
    padding: 2px 3px;
}

.dropdown_content_1:hover,
.dropdown_content_2:hover,
.dropdown_content_3:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #dedede;
}

.list {
    display: block;
    font-size: 10px;
    text-align: center;
}

.not_show {
    display: none;
}

.drop_btn_img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}