.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 10px;
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

.footer_info {
    color: white;
    font-size: 8px;
    font-weight: 300;
}

.footer_github {
    margin-top: 5px;
    width: 15px;
    border-radius: 50%;
    opacity: 60%;
}

.footer_copyright {
    color: white;
    font-size: 7px;
    font-weight: 300;
}