.login_register_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_register {
    margin-top: 110px;
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px 20px 30px;
}

.login_register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_register_form_title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    text-decoration-line: line-through;
    text-decoration-color: #FFFF00;
    text-decoration-thickness: 0.9px;
    text-decoration-style: double;
}

.login_register_form_input {
    padding: 8px 6px;
    border: none;
    background-color: rgba(237, 237, 239, 255);
    color: rgba(135, 135, 137, 255);
    width: 177px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.login_register_form_input:focus {
    outline:none;
}

.login_register_form_input::placeholder {
    font-size: 10px;
}

.login_register_form_button {
    margin-top: 10px;
    padding: 8px 30px;
    border: none;
    background-color: #d0e0e0;
    border-radius: 10px;
    color: white;
}

.login_register_form_button:hover, .login_register_form_button:focus {
    background-color: #9EAEAE;
    cursor: pointer;
    outline: none;
}

.login_register_text1 {
    margin-top: 20px;
    font-size: 9px;
    text-align: center;
    color: rgba(135, 135, 137, 255);
}

.login_register_text2 {
    font-size: 10px;
    text-align: center;
    color: rgba(135, 135, 137, 255);
    text-decoration: underline;
    text-decoration-color: rgba(135, 135, 137, 255);
}

.login_register_text2:hover {
    cursor: pointer;
    color: #626264;
    text-decoration-color: #626264;
}