.header {
    position: fixed;
    height: 35px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.home {
    padding-left: 20px;
    font-size: 15px;
    font-weight: 900;
    font-style: italic;
    text-decoration-line: line-through;
    text-decoration-color: #FFFF00;
    text-decoration-thickness: 0.9px;
    text-decoration-style: double;
}

.search {
    display: flex;
    flex-direction: row;
}

.search_btn {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.search_bar {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    width: 350px;
    height: 17px;
}

.search_bar::placeholder {
    font-size: 7px;
    padding-left: 10px;
    height: inherit;
    line-height: inherit;
}

.search_bar:focus{
    outline: none;
}

input[type='text']{
    font-size: 7px;
    color:black;
    line-height: 7px;
}

.search_icon {
    width: 10px;
    margin-right: 1px;
}


.user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_avatar {
    width: 20px;
    margin-right: 7px;
}

.user_info {
    font-size: 8px;
    margin-right: 10px;
}