.idea/

# 말그대로 캐시라서 제외해도 문제가 없음.
app/migrations/__pycache__
app/__pycache__
conf/__pycache__
__pycache__

# ImageField, FileField를 담당하는 media 디렉터리는 깨끗한 상태를 유지하면 좋을 것 같음.
media/*
!media/.dummy_file

# python manage.py collectstatic할 때 복제된 파일이 생성되는데, 그것을 막기 위함.
static/*
!static/.dummy_file

# init.sh를 제공했으므로, 마이그레이션 기록은 남겨둘 필요가 없음.
app/migrations/*
!app/migrations/__init__.py

# db도 마찬가지임. 모델은 계속 수정될 예정이라 이런 커밋은 불필요함.
db.sqlite3
